<h2 class="page-header">Edit book</h2>
<!-- multipart is used when the file is selected via a regular file picker -->
<!-- <form action="/books" method="POST" enctype="multipart/form-data"> -->
<!-- With FilePond the multipart enctype is not needed -->
<form action="/books/<%= book.id; %>?_method=PUT" method="POST">
  <%- include('_form_fields'); %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/books">Cancel</a>
    <button class="btn btn-danger" type="submit">Update</button>
  </div>
</form>
